@import "../mixins";
@import "../colors";

.main {
  @include flexmixin(row, no-wrap, flex-start, space-between, 0);
  background-color: $primary;

  .left_sect,
  .right_sect {
    height: 100vh;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .left_sect {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100vw - 60%);

    .carousel_ {
      width: 78%;
      height: 40rem;
      margin-top: 4rem;
      transform: translateX(12.5%);
      border-radius: 0.5rem;
      background-color: $secondary;
      @include flexmixin(column, no-wrap, center, center, 4rem);

      p {
        font-size: 1.75rem;
        color: $text_secondary;
      }
    }

    .chevrons_ {
      width: 100%;
      margin-top: 2rem;
      @include flexmixin(row, no-wrap, center, center, 0.5rem);

      button {
        width: 2rem;
        height: 2rem;
        @include flexmixin(row, no-wrap, center, center, 0);
        border: 0;
        outline: none;
        background-color: transparent;
        cursor: pointer;
      }

      .indicator_ {
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 50%;
      }
    }
  }

  .right_sect {
    width: calc(100vw - 38%);
    @include flexmixin(column, no-wrap, flex-end, flex-start, 0);

    .inv_ {
      margin-top: 4rem;
      margin-bottom: 2rem;
    }

    button {
      width: 65%;
      height: 4.25rem;
      padding: 0.75rem;
      border: 0;
      margin-right: 16rem;
      border-radius: 0.5rem;
      outline: none;
      outline-color: transparent;
      background-color: $secondary;
      @include flexmixin(row, no-wrap, center, space-between, 0);
      @include usebasefont();
      cursor: pointer;

      p {
        text-align: left;
      }

      .writeup {
        .title {
          margin-bottom: 0.25rem;
          font-size: 1rem;
          color: $text_primary;
        }

        .description {
          font-size: 0.875rem;
          color: $text_secondary;
        }
      }

      .radio {
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 50%;
        background-color: $text_secondary;
      }
    }

    .signin {
      float: right;
      width: 30%;
      height: 2.875rem;
      margin-top: 3rem;
      justify-content: center;
      gap: 0.75rem;
      background-color: $secondary;
      border: 0.5px solid $divider_faint;
      font-size: 0.875rem;
      color: $text_primary;
    }
  }
}
